.App {
  text-align: center;
}
.about-bg{
background-image: linear-gradient(#789395, #00B4D8)
}
.home-bg {
  background-image: linear-gradient(#54BAB9, #5584AC)
}

.blogs-bg{
    background-image: linear-gradient(#1b98a6, #43919B)
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.login-bg{
  background-image: linear-gradient(#A1B57D, #43919B)
}
.register-bg{
  background-image: linear-gradient(#54BAB9, #2EB086)
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
